// this file is responsible for styling related to the site footer

// Grabbing abstracts 
@use "../custom/index" as *;
// containing block styles
.site-footer {
    // tokens
    --footer-bg-main-color: var(--black);
    --footer-bg-main-color-percent: 90%;
    --footer-bg-mixed-color: var(--white);
    --footer-bg-mixed-color-percent: 10%;
}

// main content 
.site-footer__main-content {
    //Styles
    @include section-theme(var(--white), 
        color-mix(in srgb, var(--footer-bg-main-color) var(--footer-bg-main-color-percent), var(--footer-bg-mixed-color) var(--footer-bg-mixed-color-percent)));
    padding: var(--section-padding-md) 0;
    a {
        color: var(--white);
    }
}

// inner wrapper ( whitch is also the primary container for the section.
.site-footer__inner {
    display: grid;
    gap: var(--content-gap);
    grid-template-columns: var(--grid-3);
    align-items: center;

    @include bp-down("md") {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
    }
}
// content group
.site-footer__content-group {
    display: grid;
    gap: calc(var(--content-gap) / 1.3);
    
    > * {
        margin: 0;
        padding: 0;
    }

    &-heading {
        font-size: var(--fs-h4);
    }
}
.site-footer__nav-links {
    display: grid;
    gap: calc(var(--content-gap) / 2)
}

// vibe code notice
.site-footer__vibe-notice {
    padding: var(--section-padding-xs);
    @include section-theme(var(--white), color-mix(in srgb, var(--footer-bg-main-color), var(--white) 20%))
}