// Grabbing stuff
@use "../custom/index.scss" as *;


// active state
[aria-current="page"] {
  color: var(--primary-base);
  font-weight: var(--fw-bold);
}

// Overall containing block
.site-header {
  // VARIBLES - this controls the entire header component
    --navlink__clickabale-area: 0.5em;
  --menu-gap: var(--sp-100);

  // Nav theme properties. Note, most of these have to do with the popout, however some are global.
  --nav-bg-opacity: 90%;
  --nav-bg-color: var(--white);
  --nav-bg: color-mix(in srgb, var(--nav-bg-color) var(--nav-bg-opacity), transparent);
  --nav-transition: 0.9s;
  --nav-blur: 16px;

  // burger variables
  --burger-height: 3px;
  --burger-width: 46px;
  --burger-gap: 7px;

  --nav-opacity: 60%;

  // CODE
  padding: var(--section-padding-sm);
  background: var(--nav-bg);
  backdrop-filter: blur(var(--nav-blur));
  position: sticky;
  top: 0;
  z-index: 3;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // making sure that the active underline styles ONLY apply to the header links
  [aria-current="page"] {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: pixel(2);
      background: var(--primary-base);
      margin-top: var(--sp-50);
    }
  }
}
// nav menu
.site-header__nav-links {
  display: flex;
  gap: calc(-var(--menu-gap) - var(--navlink__clickabale-area));
  // making the navlinks a column on mobile
  @include bp-down("md") {
    flex-direction: column;
  } // end media query
  li {
    // link styles
    a {
      padding: var(--navlink__clickabale-area);
      transition: 0.3s ease-in-out;
      &:hover,
      &:focus {
        transform: rotate(7deg);
        color: var(--primary-base);
      }
    }
    // active state
  }
} // end link styles

// styling the last nav link as a button on desktop
.site-header__nav-links > :last-child {
  @include bp-up("md") {
    margin-inline-start: 20em;
    a {
      color: var(--white);
      background-color: var(--primary-base);
      padding: var(--primary-btn__padding);
      font-weight: var(--btn-font-weight);
      border-radius: var(--primary-btn__radius);
      transition: 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: var(--primary-btn__hover-bg);
        color: var(--white);
        transform: rotate(0deg);
      }
    } // end link syles
  } // end media query
} // end overall selector


// Elevating the logo
.site-header__brand-link {
  z-index: 3;
}
// MOBILE NAVIGATION
// hiding the checkbox on desktop
.site-header {
  &__nav-toggle,
  &__nav-toggle-label {
    @include bp-up("md") {
      display: none;
    }
  }
}

// MOBILE NAV
// styling the nav label
.site-header__nav-toggle-label {
  @include bp-down("md") {
    cursor: pointer;
    inline-size: 28px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--burger-gap);
    span {
      display: flex;
      justify-content: flex-end;
      inline-size: 100%;
      block-size: var(--burger-height);
      min-inline-size: 0;
      min-block-size: 0;
      background: var(--primary-200);
      border-radius: 50px;
      transition-property: scale, rotate, translate;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      &:nth-child(2) {
        inline-size: 50%;
      }
    }
  } // end media query
  
}
.site-header__nav-toggle:checked~ .site-header__nav-toggle-label {
  span {
    z-index: 2;
  }
  span:nth-child(1) {
    rotate: 45deg;
    translate: 0 calc(var(--burger-gap) + var(--burger-height));
  }
  span:nth-child(2) {
    scale: 0;
  }
  span:nth-child(3) {
    rotate: -45deg;
    translate: 0 calc((var(--burger-gap) + var(--burger-height)) * -1);
  }
}
.site-header__nav-toggle {
  display: none;
}
// Hiding the nav + styling it for when the checkbox is checked
.site-header__nav {
  @include bp-down("md") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    inset: 0;
    height: 100vh;
    background: var(--nav-bg);
    backdrop-filter: blur(var(--nav-blur)); 
    padding: var(--section-padding-md);
    text-align: center;
    transform: translateX(-200vw);
    transition: var(--nav-bg-transition);
  }
}
// Showing the nav
.site-header__nav-toggle:checked ~ .site-header__nav {
  display: flex;
  transform: translateX(0vw);
  transition-timing-function: ease-in-out;
  transition-duration: 0.7s;
  transition-duration: background, backdrop-filter;
}
