// Grabbing stuff
@use "../custom/index.scss" as *;

// locally scoped variables
:root {
  --navlink__clickabale-area: 0.5em;
  --menu-gap: var(--sp-100);

  // burger variables
  --burger-height: 3px;
  --burger-width: 46px;
  --burger-gap: 6px;
}
// active state
[aria-current="page"] {
  color: var(--primary-base);
  font-weight: var(--fw-bold);
}

.site-header {
  padding: var(--section-padding-sm);
  background: var(--white);
  position: sticky;
  top: 0;
  z-index: 3;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // making sure that the active underline styles ONLY apply to the header links
  [aria-current="page"] {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: pixel(2);
      background: var(--primary-base);
      margin-top: var(--sp-50);
    }
  }
}
// nav menu
.site-header__nav-links {
  display: flex;
  gap: calc(-var(--menu-gap) - --navlink__clickabale-area);
  // making the navlinks a column on mobile
  @include bp-down("md") {
    flex-direction: column;
  } // end media query
  li {
    // link styles
    a {
      padding: var(--navlink__clickabale-area);
      transition: 0.3s ease-in-out;
      &:hover,
      &:focus {
        color: var(--primary-base);
        transform: scale(1.1);
      }
    }
    // active state
  }
} // end link styles
.site-header__nav-links > :last-child {
  @include bp-up("md") {
    margin-inline-start: 20em;
    a {
      color: var(--white);
      background-color: var(--primary-base);
      padding: var(--primary-btn__padding);
      font-weight: var(--btn-font-weight);
      border-radius: var(--primary-btn__radius);
      transition: var(--primary-btn__animation);

      &:hover,
      &:focus {
        background-color: var(--primary-btn__hover-bg);
        color: var(--white);
      }
    } // end link syles
  } // end media query
} // end overall selector
// hiding the checkbox on desktop
.site-header {
  &__nav-toggle,
  &__nav-toggle-label {
    @include bp-up("md") {
      display: none;
    }
  }
}

// MOBILE NAV
// styling the nav label
.site-header__nav-toggle-label {
  @include bp-down("md") {
    width: 28px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    span {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 3px;
      min-width: 0;
      min-height: 0;
      background: var(--primary-200);
      border-radius: 50px;
      transition-property: scale, rotate, translate;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      &:nth-child(2) {
        width: 50%;
      }
    }
  } // end media query
}
.site-header__nav-toggle:checked ~ .site-header__nav-toggle-label {
  span {
    z-index: 2;
  }
  span:nth-child(1) {
    rotate: 45deg;
    translate: 0 10px;
  }
  span:nth-child(2) {
    scale: 0;
  }
  span:nth-child(3) {
    rotate: -45deg;
    translate: 0 -10px;
  }
}
.site-header__nav-toggle {
  display: none;
}
// Hiding the nav + styling it for when the checkbox is checked
.site-header__nav {
  @include bp-down("md") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    inset: 0;
    height: 100vh;
    background: var(--primary-800__trans-800);
    padding: var(--section-padding-md);
    text-align: center;
    transform: translateX(-200vw);
    transition: 0.7s;
  }
}
// Showing the nav
.site-header__nav-toggle:checked ~ .site-header__nav {
  display: flex;
  transform: translateX(0vw);
}
