// Grabbing abstracts
@use "../custom/" as *;

// Overarching container styling
.error-section {
  background-color: var(--primary-800);
  padding-block: var(--section-padding-xl);
}
.error-section__inner {
  gap: calc(var(--content-gap) / 2);
  @include bp-up("md") {
    @include text-align(center);

    a {
      place-self: center;
    } // end link selecttion
  } // end media query
}
// element styling
.error-section__lede {
  @include heading("h1");
}
.error-section__title {
  font-size: var(--fs-h4);
}
