// grabbing abstracts 
@use "../custom/index" as *;

// hero
.home-hero {
    @include section-theme(var(--black), var(--primary-900));
    padding-block: var(--section-padding-xl);
}

.home-hero__inner {
    display: grid;
    grid-template-columns: var(--grid-2);
    gap: var(--grid-gap);
    align-items: center;
}

.home-hero__content {
    display: grid;
    gap: var(--content-gap);
}

.home-hero__media {
    @include img-fit
}

// Audience 
.audience {
    @include section-theme(var(--white), var(--secondary-base))
}
.audience__heading {
    @include bp-up("md") {
        text-align: center;
    }
}
.audience__grid {
    display: grid;
    grid-template-columns: var(--grid-2);
    gap: var(--grid-gap);
    
}

// SKILLS
.skills {
    @include section-theme(var(--black), var(--secondary-900))
}

.skills__heading { 
    @include bp-up("md") {
        @include text-align();
    }
}
.skills__action {
    @include bp-up("md") {
        place-self: center;
    }
}
.skills__grid {
    display: grid;
    grid-template-columns: var(--grid-3);
    gap: var(--grid-gap);
}