// this file is responsible for styling related to services page

// Grabbing abstracts
@use "../custom/index" as *;
// general section styles
.services__heading {
    @include bp-up("md" ) {
      @include text-align();
    }
}
// list styles
.services__list {
    display: grid;
    gap: var(--grid-gap);
}
// service styles
.service {

  display: grid;
  grid-template-columns: var(--grid-2);
  gap: var(--grid-gap);
  align-items: center;

}

// element styles
.service__content {
    display: grid;
    gap: var(--content-gap);
}
.service:nth-child(even) >.service__media-wrapper {
  @include bp-up("md") {
    order: -1;
  }
}