// grabbing abstracts
@use "../../custom/index" as *;

// overalls container styling
.content-kelowna__heading {
  @include bp-up("md") {
    text-align: center;
  }
}

.content-kelowna__grid {
  display: grid;
  grid-template-columns: var(--grid-2);
  gap: var(--grid-gap);
  align-items: center;
}
// Elements
.content-kelowna__content {
  display: grid;
  gap: var(--content-gap);
}
// media 
.content-kelowna__media {
    aspect-ratio: 16/9;
    object-fit: cover;
}
