// this file is responsible for styling content related to the hero ladysmith frame
// Grabbing abstracts
@use "../../custom/index" as *;

// Container styles
.hero-ladysmith {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-block: calc(var(--section-padding-xl) * 2);
}

.hero-ladymith__media-wrapper {
  // local variable
  --hero-overlay-percentage: 85%;
  --hero-overlay-color: var(--primary-900);

@include bg-image {
   background-color: color-mix(
      in srgb,
      var(--hero-overlay-color) var(--hero-overlay-percentage),
      transparent
    );
}
}

// Element styles
.hero-ladysmith__inner {
  @include bp-up("md") {
    @include text-align();
  }
}
.hero-ladysmith__seo-heading {
  @include seo-heading();
}
.hero-ladysmith__heading {
  @include heading("h1");
  max-inline-size: var(--heading-width);
}
.hero-ladysmith__media {
  block-size: 100%;
}
