// this file is responsible for styling related to the hero section of the duncan frame. 
// Grabbing abstracts 
@use "../../custom/index" as *;

// Section styling 
.hero-duncan {
    // overides
    --secondary-overlap__top-bg: var(--white);
    --secondary-overlap__bottom-bg: var(--secondary-base);
    --secondary-overlap: linear-gradient(to bottom, var(--secondary-overlap__top-bg) var(--secondary-overlap__top-percentage), var(--secondary-overlap__bottom-bg) var(--secondary-overlap__bottom-percentage));
    --secondary-overlap__top-percentage: 70%;
    --secondary-overlap__bottom-percentage: 30%;
    background: var(--secondary-overlap);
}

// Inner
.hero-duncan__inner {
    @include bp-up("md") {
        @include text-align();
    }
}
.hero-duncan__heading {
    max-inline-size: var(--heading-width-sm);
}
// styles for the next section down
.hero-duncan + section {
    @include section-theme(var(--white),var(--secondary-base))
}