// Kanit
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variable Overrides */
:root {
  --ff-headings: "Kanit", sans-serif;
  --ff-body: "Kanit", sans-serif;

  --primary-h: 14;
  --primary-s: 74%;
  --primary-l: 55%;

  --secondary-h: 185;
  --secondary-s: 65%;
  --secondary-l: 27%;

  --tertiary-h: 43;
  --tertiary-s: 85%;
  --tertiary-s: 71%;

  --lh-p: clamp(1.3rem, 0.956vw + 0.694rem, 1.7rem);

  //   Scrollbar
  --scrollbar-track-color: var(--primary-800);

  //   Card retheming
  --primary-card__bg: var(--primary-500);
  --secondary-card__bg: var(--secondary-500);
  
}
// smart spacing
[data-smart-spacing] {
  display: grid;
  gap: var(--content-gap);
}
